.about {
  margin-top: 120px;

  &__content {
    display: flex;
    margin-top: 36px;

    &-text {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  &__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: -6%;
  text-align: center;
  color: #2d2926;
}
.title {
  margin: 20px 0;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: -6%;
  text-align: center;
  color: #c11321;
}
.text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -6%;
  text-align: center;
  text-transform: uppercase;
  color: #6f625d;
}
.info-title {
  margin-bottom: 15px;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 25px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: -6%;
  color: #2d2926;
}
.info-description {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: -6%;
  color: #6f625d;
}
