.about {
  max-width: 100%;
  margin: 0 auto;

  &__content {
    display: flex;
  }
}
.subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: -6%;
  text-align: center;
  color: #2d2926;
}
.title {
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: -6%;
  text-align: center;
  color: #c11321;
}
.description {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -6%;
  text-align: center;
  text-transform: uppercase;
  color: #6f625d;
}
