.awards {
  &__subtitle {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: -6%;
    text-align: center;
    color: #000000;
    margin-bottom: 14px;
  }
  &__title {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: -6%;
    text-align: center;
    color: #c11321;
    margin-bottom: 14px;
  }
  &__text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: -6%;
    text-align: center;
    text-transform: uppercase;
    color: #6f625d;
  }
  &__list {
    margin-top: 40px;
  }
  &__content {
    display: flex;
    gap: 20px;
    &-first {
      width: calc(25% - 20px);
      span {
        background: #c11321;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        display: block;
        margin-bottom: 15px;
      }
      &-text {
        font-family: Roboto;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 25px;
        leading-trim: NONE;
        line-height: 110.00000000000001%;
        letter-spacing: -6%;
        color: #2d2926;
      }
    }
    .row {
      width: calc(50% - 20px);
      .col-6 {
        height: 100%;
      }
    }
    &-second {
      display: flex;
      flex-direction: column;
      height: 100%;
      &-title {
        font-family: Roboto;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 25px;
        leading-trim: NONE;
        line-height: 110.00000000000001%;
        letter-spacing: -6%;
        color: #2d2926;
        margin-bottom: 10px;
      }
      &-text {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 110.00000000000001%;
        letter-spacing: -6%;
        color: #6f625d;
        width: 100%;
        margin-bottom: 30px;
      }
      &-link {
        font-family: Roboto;
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 110.00000000000001%;
        letter-spacing: -4%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: 0%;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
        color: #c11321;
      }
      &-buttons {
        margin-top: auto;
        display: flex;
        column-gap: 15px;
        align-items: center;
        &-btn {
          border: 1px solid #c11321;
          padding: 15px 10px;
          cursor: pointer;
          transition: border-color 0.2s, background-color 0.2s, opacity 0.2s;
          &:first-child {
            background-color: #fff;
          }
          &:last-child {
            background-color: #c11321;
            color: #fff;
          }
          &:disabled {
            border-color: #b0a8a3;
            background-color: #e8e4e2 !important;
            color: #9a908a;
            cursor: not-allowed;
            opacity: 0.7;
            img {
              opacity: 0.5;
            }
          }
        }
      }
      &-image {
        width: 100%;
        // height: 100%;
        object-fit: cover;
      }
    }
    &-third {
      width: calc(25% - 20px);
      &-title {
        font-family: Roboto;
        text-align: end;
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        leading-trim: NONE;
        line-height: 110.00000000000001%;
        letter-spacing: -6%;
        color: #000;
        span {
          color: #2d2926;
        }
      }
    }
  }
}
