* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 10;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    a {
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: -6%;
      color: #ffffff;
      text-decoration: none;
      transition: color 0.3s ease;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    &-btn {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
