.school {
  margin-top: 120px;

  &__content {
    margin-top: 36px;
    display: flex;
  }
  &__info {
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &-block {
      display: flex;
      align-items: start;
      position: relative;
    }
    &-square {
      display: block;
      width: 25px;
      height: 25px;
      background-color: #C11321;
      margin-right: 25px;
      border-radius: 5px;
    }
    
    &-btn {
        margin: 0 auto;
      width: 80%;
      height: 57px;
      background-color: #c11321;
      border-radius: 100px;
      border: none;
      a {
        font-family: Roboto;
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 110.00000000000001%;
        letter-spacing: -4%;
        text-decoration: none;
        color: #ffffff;
      }
    }
    &-line{
        position: absolute;
        top: 10px;
        left: 1.5%;
        width: 7px;
        height: 70%;
        background-color: #D9D9D9;
        z-index: -1;
    }
  }
}
