.kinder {
  margin-top: 120px;

  &__content {
    margin-top: 36px;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
    &-left {
    height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      img{
        margin-bottom: 20px;
      }
    }
    &-right {
        height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      img{
        margin-bottom: 20px;
      }
    }
  }
  &__block {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-square {
      width: 25px;
      height: 25px;
      background-color: #c11321;
      border-radius: 5px;
    }
    &-line {
      position: absolute;
      top: 7px;
      width: 7px;
      height: 98%;
      background-color: #d9d9d9;
      z-index: -1;
    }
  }

  &__col-6 {
    width: 45%;
    height: 100%;
  }
}
